<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964720611723-04tj6iaf8s7vr5626cbgqku7rr6a1bgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964720611723-04tj6iaf8s7vr5626cbgqku7rr6a1bgg</string>
	<key>API_KEY</key>
	<string>AIzaSyANqMGKM-kpxNJtnQm8mWS7I9hxDN50t4M</string>
	<key>GCM_SENDER_ID</key>
	<string>964720611723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vlocksdone</string>
	<key>PROJECT_ID</key>
	<string>vlocks-25be7</string>
	<key>STORAGE_BUCKET</key>
	<string>vlocks-25be7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964720611723:ios:fd4b64bce7eac019ad9f8e</string>
</dict>
</plist>